<!DOCTYPE html>
<html  >
<body ng-app='myApp' >
  <div d3-shapes></div>
  <div ng-controller='main'>
  <div ng-repeat="shape in shapeList | orderBy:'-area'">
    <span>{{shape.toString()}}</span>
   </div>
  </div>
    
<!-- 
      <form ng-submit="createShape()">


          <div >
            <label>Size</label>
            <input class="" ng-model="size" type="text">
              <label>
              <div>
              <span>Shape: 
            <input type="radio" ng-model="shape" value="Circle">
            Circle
          </label>
          <label>
            <input type="radio" ng-model="shape" value="Square">
            Square
          </label>
          </span></div>

        <div>
          <input type="submit" class="">Create new Shape!</button>
        </div>


      </form> -->
      <!-- <button ng-click="sortShapes()"></button> -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/src/app.js"></script>
<script src="/src/shapes.js"></script>
<script src="/src/shapeRenderer.js"></script>
</html>
